In [1]:
import numpy as np

X = np.array([[5, 13], [1, 7], [15, 7], [202, 1]])
y = np.array([[8], [307], [6], [13]])

In [3]:
from sklearn.linear_model import LinearRegression

reg = LinearRegression().fit(X, y)
print(reg.coef_)
print(reg.intercept_)

[[ -1.74111138 -28.99991186]]
[383.56634258]

In [4]:
def f(x1, x2):
  return -1.74111138 * x1 + (-28.99991186) * x2 + 383.56634258

In [6]:
print(f(5, 13))
print(f(1, 7))
print(f(15, 7))
print(f(202, 1))

-2.1380684999999744
178.82584818
154.45028886
2.8619319600000495

In [7]:
import pandas as pd

df = pd.read_csv('data.csv')
df

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,3.130000e+05,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2.384000e+06,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,3.420000e+05,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,4.200000e+05,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,5.500000e+05,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,2014-07-09 00:00:00,3.081667e+05,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA
4596,2014-07-09 00:00:00,5.343333e+05,3.0,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA
4597,2014-07-09 00:00:00,4.169042e+05,3.0,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059,USA
4598,2014-07-10 00:00:00,2.034000e+05,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA
4599,2014-07-10 00:00:00,2.206000e+05,3.0,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA

In [8]:
df.columns

Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'street', 'city',
       'statezip', 'country'],
      dtype='object')

In [17]:
lst = ['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'sqft_above',
       'sqft_basement', 'yr_built', 'city',
       ]
df = df[lst]
df

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,city
0,3.130000e+05,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,36
1,2.384000e+06,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,35
2,3.420000e+05,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,18
3,4.200000e+05,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,3
4,5.500000e+05,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,3.081667e+05,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,35
4596,5.343333e+05,3.0,2.50,1460,7573,2.0,0,0,3,1460,0,1983,3
4597,4.169042e+05,3.0,2.50,3010,7014,2.0,0,0,3,3010,0,2009,32
4598,2.034000e+05,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,35
4599,2.206000e+05,3.0,2.50,1490,8102,2.0,0,0,4,1490,0,1990,9

In [12]:
df.isnull().sum()

price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
city             0
country          0
dtype: int64

In [15]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
encoded_data = label_encoder.fit_transform(df['city'])
df['city'] = encoded_data
df

<ipython-input-15-ebf155702a51>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['city'] = encoded_data

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,city,country
0,3.130000e+05,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,36,USA
1,2.384000e+06,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,35,USA
2,3.420000e+05,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,18,USA
3,4.200000e+05,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,3,USA
4,5.500000e+05,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,31,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,3.081667e+05,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,35,USA
4596,5.343333e+05,3.0,2.50,1460,7573,2.0,0,0,3,1460,0,1983,3,USA
4597,4.169042e+05,3.0,2.50,3010,7014,2.0,0,0,3,3010,0,2009,32,USA
4598,2.034000e+05,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,35,USA
4599,2.206000e+05,3.0,2.50,1490,8102,2.0,0,0,4,1490,0,1990,9,USA

In [16]:
encoded_data = label_encoder.fit_transform(df['country'])
df['country'] = encoded_data
df

<ipython-input-16-14b0fc451012>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['country'] = encoded_data

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,city,country
0,3.130000e+05,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,36,0
1,2.384000e+06,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,35,0
2,3.420000e+05,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,18,0
3,4.200000e+05,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,3,0
4,5.500000e+05,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,31,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,3.081667e+05,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,35,0
4596,5.343333e+05,3.0,2.50,1460,7573,2.0,0,0,3,1460,0,1983,3,0
4597,4.169042e+05,3.0,2.50,3010,7014,2.0,0,0,3,3010,0,2009,32,0
4598,2.034000e+05,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,35,0
4599,2.206000e+05,3.0,2.50,1490,8102,2.0,0,0,4,1490,0,1990,9,0

In [18]:
df

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,city
0,3.130000e+05,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,36
1,2.384000e+06,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,35
2,3.420000e+05,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,18
3,4.200000e+05,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,3
4,5.500000e+05,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,3.081667e+05,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,35
4596,5.343333e+05,3.0,2.50,1460,7573,2.0,0,0,3,1460,0,1983,3
4597,4.169042e+05,3.0,2.50,3010,7014,2.0,0,0,3,3010,0,2009,32
4598,2.034000e+05,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,35
4599,2.206000e+05,3.0,2.50,1490,8102,2.0,0,0,4,1490,0,1990,9

In [20]:
lst = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'sqft_above',
       'sqft_basement', 'yr_built', 'city',
       ]

In [21]:
y = df['price']
X = df[lst]

In [22]:
X

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,city
0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,36
1,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,35
2,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,18
3,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,3
4,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,31
...,...,...,...,...,...,...,...,...,...,...,...,...
4595,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,35
4596,3.0,2.50,1460,7573,2.0,0,0,3,1460,0,1983,3
4597,3.0,2.50,3010,7014,2.0,0,0,3,3010,0,2009,32
4598,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,35
4599,3.0,2.50,1490,8102,2.0,0,0,4,1490,0,1990,9

In [23]:
y

0       3.130000e+05
1       2.384000e+06
2       3.420000e+05
3       4.200000e+05
4       5.500000e+05
            ...
4595    3.081667e+05
4596    5.343333e+05
4597    4.169042e+05
4598    2.034000e+05
4599    2.206000e+05
Name: price, Length: 4600, dtype: float64

In [25]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [28]:
from sklearn.linear_model import LinearRegression

reg = LinearRegression().fit(X_train, y_train)

In [29]:
y_pred = reg.predict(X_test)

In [30]:
from sklearn.metrics import mean_absolute_error

mean_absolute_error(y_test, y_pred)

194561.14522951734

In [32]:
import math
from sklearn.metrics import mean_squared_error
math.sqrt(mean_squared_error(y_test, y_pred))

823934.4904997344

In [33]:
from sklearn.metrics import mean_absolute_percentage_error
mean_absolute_percentage_error(y_test, y_pred)

3.359458241865885e+19